@font-face {
    font-family: 'Futura';
    src:url('../../fonts/Futura/FuturaLightC.eot'),
        url('../../fonts/Futura/FuturaLightC.eot') format('embedded-opentype'),
        url('../../fonts/Futura/FuturaLightC.woff2') format('woff2'),
        url('../../fonts/Futura/FuturaLightC.woff') format('woff'),
        url('../../fonts/Futura/FuturaLightC.ttf') format('truetype'),
        url('../../fonts/Futura/FuturaLightC.svg') format('svg');
}
@font-face {
    font-family: 'Garamond';
    src: local('EB Garamond Regular'), 
    local('EBGaramond-Regular'), 
        url('Ebgaramondregular.woff2') format('woff2'), 
        url('Ebgaramondregular.woff') format('woff'), 
        url('Ebgaramondregular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}


