/*GLOBAL SETTINGS*/
@import "reset.css";
@import "bootstrap-grid.min.css";

body {
    position: relative;
    background-color: #fff;
}

main {
    overflow: hidden;
}

body * {
    box-sizing: border-box;
    outline: none;
}

a, p, li, button {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3b3b40;
}

p {
    line-height: 30px;
}

h1,h2 {
    line-height: 48px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 36px;
    color: #3b3b40;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}


button  {
    padding: 8px 25px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 13, 13, 0.1);
    background-color: #a7001e;
    border: 2px solid #a7001e;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
}

button.transparent {
    background-color: transparent;
    color: #a7001e;
}

button:hover {
    background-color: transparent;
    color: #151515;
}

button.transparent:hover {
    background-color: #a7001e;
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.red-word {
    color: #a7001e;
}

.red-line {
    width: 97px;
    height: 2px;
    background-color: #a7001e;
    margin: 0 auto;
}

/*HEADER*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    transition: .2s;
    z-index:  2;
}

.header .container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: none;
    cursor: pointer;
}

.header__logo {
    width: 120px;
}

.nav-list {
    display: flex;
    height: 100%;
}

.nav-list__items {
    display: block;
    position: relative;
    margin-right: 35px;
}

.nav-list__items:last-child {
    margin-right: 0;
}

.nav-list__items a {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-list__items:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    background-color: #a7001e;
    transition: .2s;
}

.nav-list .active:after {
    width: 100%;
}

.nav-list__items:hover:after {
    width: 100%;
}

.header-contacts__tel {
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
}


/*MAIN*/
.main {
    position: relative;
    height: 100vh;
    min-height: 900px;
}

.main__absolute-container {
    height: 100%;
    position: relative;
}

.main__back-call-btn {
    position: absolute;
    right: 0;
    top: 65px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 0 0 30px rgba(167, 0, 30, 0.1);
    z-index: 1;
}

.main__content-wrapper {
    display: block;
    height: 100vh;
    min-height: 900px;
    padding-top: 200px;
}

.main__content-wrapper:nth-child(1) {
    background: no-repeat url(../img/main-background-1.png) bottom center;
    -webkit-background-size: 1920px auto;
    background-size: 1920px auto;
}


.main__content-wrapper:nth-child(2) {
    background: no-repeat url(../img/main-background-2.png) bottom center;
    -webkit-background-size: 1920px auto;
    background-size: 1920px auto;
}


.main-background-slider__dots-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.main-background-slider__dots {
    height: 16px;
    width: 16px;
    margin-bottom: 20px;
    border-radius: 100px;
    background-color: #949ea5;
    transition: .2s;
    cursor: pointer;
}

.main-background-slider__dots:hover {
    background-color: #a7001e;
}

.main-background-slider__dots-wrapper > .active {
    background-color: #a7001e;
    transition: .2s;
}

.main-background-slider__dots:last-child {
    margin-bottom: 0;
}

.main-background-slider {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.main__title {
    margin-bottom: 50px;
}

.main__paragraph {
    text-align: center;
    margin-bottom: 50px;
}

.main button {
    margin: 0 auto;
}

/*INFO*/
.info {
    position: relative;
    padding: 50px 0 300px 0;
}

.info:after {
    position: absolute;
    left: 50%;
    bottom: -70px;
    height: 890px;
    width: 1920px;
    transform: translateX(-50%);
    content: '';
    background: no-repeat url(../img/info-bg.png) center;
    background-size: 100% auto;
    z-index: -1;
}

.info__title {
    margin-bottom: 100px;
}

.info__content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-content-wrapper__item {
    margin-bottom: 75px;
}

.info__subtitle {
    margin-bottom: 50px;
    text-align: left;
    line-height: 36px;
}

.info__paragraph:last-child {
    margin-top: 30px;
}

.info__more-btn {
    margin-top: 60px;
}

.info__list {
    margin-bottom: 80px;
}

.info-list__item {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-weight: 700;
}

.info-list__item:last-child {
    margin-bottom: 0;
}

.info-list__item:last-child:before {
    margin-bottom: 0;
}

.info-list__item:before {
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
    content: '';
}

.info-list__item:nth-child(1):before {
    background: no-repeat url(../img/icon-key.png) center;
     -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.info-list__item:nth-child(2):before {
    background: no-repeat url(../img/icon-headphones.png) center;
     -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.info-list__item:nth-child(3):before {
    background: no-repeat url(../img/icon-shield.png) center;
     -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.info .call-form {
    margin-top: 65px;
}

/*ABILITIES*/
.abilities {
    padding-bottom: 50px;
}

.abilities__title {
    margin-bottom: 90px;
}

.abilities__content-wrapper {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
}

.abilities-content-wrapper__item {
    position: relative;
    padding-left: 57px;
}

.abilities-content-wrapper__item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    content: '';
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.abilities-content-wrapper__item:nth-child(1):before {
    background: no-repeat url(../img/icon-abilities-1.png);
    -webkit-background-size: auto 100% ;
    background-size: auto 100% ;
}


.abilities-content-wrapper__item:nth-child(2):before {
    background: no-repeat url(../img/icon-abilities-2.png);
    -webkit-background-size: auto 100% ;
    background-size: auto 100% ;
}


.abilities-content-wrapper__item:nth-child(3):before {
    background: no-repeat url(../img/icon-abilities-3.png);
    -webkit-background-size: auto 100% ;
    background-size: auto 100% ;
}


.abilities-content-wrapper__item:nth-child(4):before {
    background: no-repeat url(../img/icon-abilities-4.png);
    -webkit-background-size: auto  100%;
    background-size: auto 100% ;
}


.abilities-content-wrapper__item:nth-child(5):before {
    background: no-repeat url(../img/icon-abilities-5.png);
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}


.abilities-content-wrapper__item:nth-child(6):before {
    background: no-repeat url(../img/icon-abilities-6.png);
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.abilities__subtitle {
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 28px;
}

/*OPPORTUNITY*/
.opportunity {
    padding: 100px 0 173px 0;
    background: no-repeat url(../img/opportunity-bg.png) bottom center;
    -moz-background-size: 1920px auto;
    background-size: 1920px auto;
}

.opportunity__title {
    margin-bottom: 100px;
}

.opportunity p, .opportunity li, .opportunity h1 {
    color: #fff;
}

.opportunity__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.opportunity-list__item {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 30px;
    padding-left: 100px;
    margin-bottom: 50px;
}

.opportunity-list__item:last-child {
    margin-bottom: 0;
}

.opportunity-list__item:before {
    position: absolute;
    left: 0;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.opportunity-list__item:nth-child(1):before {
    content: '01';
}

.opportunity-list__item:nth-child(2):before {
    content: '02';
}

.opportunity-list__item:nth-child(3):before {
    content: '03';
}

.opportunity-list__item:nth-child(4):before {
    content: '04';
}

.opportunity-paragraphs__item {
    margin-bottom: 50px;
}

.opportunity-paragraphs__last-item {
    margin-bottom: 0;
}

.opportunity__button {
    margin-top: 105px;
}

.opportunity__button:hover {
    color: #fff;
}

/*REQUIREMENTS*/
.requirements {
    position: relative;
    padding-top: 50px;
}

.requirements:after {
    position: absolute;
    left: 50%;
    top: 165px;
    transform: translateX(-50%);
    height: 680px;
    width: 1920px;
    content: '';
    background: no-repeat url(../img/requirements-bg.png) center bottom;
    background-size: 100% auto;
    z-index: -1;
}

.requirements__title {
    margin-bottom: 100px;
}

.requirements .red-line {
    margin-bottom: 50px;
}

.requirements__list {
    margin-bottom: 60px;
}

.requirements-list__item {
    margin-bottom: 40px;
    line-height: 30px;
}

.requirements-list__item:last-child {
    margin-bottom: 0;
}

.dress {
    word-spacing: 30px;
}

.dress-mobile {
    display: none;
}

.dress span {
    position: relative;
}

.dress span:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 34px;
    content: '';
}

.dress span:nth-child(1) {
    padding-left: 40px;
}

.dress span:nth-child(1):before {
    width: 31px;
    background: no-repeat url(../img/icon-dress-1.svg) center;
    background-size: 100% auto;
}

.dress span:nth-child(2) {
    padding-left: 60px;
}

.dress span:nth-child(2):before {
    width: 51px;
    background: no-repeat url(../img/icon-dress-2.svg) center center;
    background-size: 100% auto;
}

.dress span:nth-child(3) {
    padding-left: 42px;
}

.dress span:nth-child(3):before {
    width: 33px;
    background: no-repeat url(../img/icon-dress-3.svg) center;
    background-size: auto 100%;
}

.requirements__paragraphs p {
    margin-bottom: 50px;
    text-align: center;
}

.requirements__paragraphs p:last-child {
    margin-bottom: 0;
}

/*BONUSES*/
.bonuses {
    position: relative;
    padding: 100px 0 280px 0;
}

.bonuses:after {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    height: 859px;
    width: 1920px;
    content: '';
    background: no-repeat url(../img/bonuses-bg.png) center bottom;
    background-size: 100% auto;
    z-index: -1;
}

.bonuses__title {
    margin-bottom: 40px;
}

.bonuses__content-wrapper {
    display: flex;
    justify-content: space-between;
}


.bonuses__more-wrapper {
    margin-top: 180px;
}

.bonuses__more-wrapper h2 {
    margin-bottom: 15px;
    line-height: 100%;
    text-align: left;
}

.bonuses__more-wrapper p {
    margin-bottom: 50px;
    line-height: 100%;
}

.bonuses-list__item-more {
    padding-left: 60px;
}

.bonuses-list__item, .bonuses-list__item-more {
    position: relative;
    margin-bottom: 45px;
    padding-left: 50px;
}

.bonuses-list__item:before, .bonuses-list__item-more:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    content: '';
}

.bonuses-list__item:last-child, .bonuses-list__item-more:last-child {
    margin-bottom: 0;
}

.bonuses-list__item:nth-child(1):before {
    background:no-repeat url(../img/icon-bonuses-1.png) center;
}

.bonuses-list__item:nth-child(2):before {
    background:no-repeat url(../img/icon-bonuses-2.png) center;
}

.bonuses-list__item:nth-child(3):before {
    background:no-repeat url(../img/icon-bonuses-3.png) center;
}

.bonuses-list__item:nth-child(4):before {
    background:no-repeat url(../img/icon-bonuses-4.png) center;
}

.bonuses-list__item-more:nth-child(1):before {
    background:no-repeat url(../img/icon-bonuses-more-1.png) center;
}

.bonuses-list__item-more:nth-child(2):before {
    background:no-repeat url(../img/icon-bonuses-more-2.png) center;
}

.bonuses-list__item-more:nth-child(3):before {
    background:no-repeat url(../img/icon-bonuses-more-3.png) center;
}

.bonuses-list__item-more:nth-child(4):before {
    background:no-repeat url(../img/icon-bonuses-more-4.png) center;
     -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.bonuses-list__item-more:nth-child(5):before {
    background:no-repeat url(../img/icon-bonuses-more-5.png) center;
     -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.bonuses-list__item-more:nth-child(6):before {
    background:no-repeat url(../img/icon-bonuses-more-6.png) center;
     -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.bonuses-list__item-more:nth-child(7):before {
    background:no-repeat url(../img/icon-bonuses-more-7.png) center;
}

/*COMMENTS*/
.comments__title {
    margin-bottom: 100px;
}

.comments-slider__next, .comments-slider__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    width: 20px;
    height: 30px;
    background-size: 100% 100%;
    transition: .5s;
    cursor: pointer;
    z-index: 1;
}

.comments-slider__next:hover, .comments-slider__prev:hover {
    transform: translateY(-50%) scale(1.2);
}

.comments-slider__prev {
    left: 0;
    background-image: url(../img/icon-slider-arrow-prev.svg);
}

.comments-slider__next {
    right: 0;
    background-image: url(../img/icon-slider-arrow-next.svg);
}


.comments__slide {
    display: flex;
    width: 982px;
    margin: 0 auto;
}

.comments__avatar {
    margin-right: 30PX;
    width: 360px;
}

.comments__name {
    margin-bottom: 20px;
    line-height: 100%;
    text-align: left;
}

.comments__experience {
    margin-bottom: 42px;
    line-height: 100%;
    color: #afafb1;
}

.comments__comment {
    position: relative;
    padding-left: 25px;
}

.comments__comment:before {
    position: absolute;
    left: 0;
    top: -13px;
    width: 17px;
    height: 13px;
    background: no-repeat url(../img/icon-commas.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    content: '';
}

/*MOTIVATION*/
.motivation {
    padding: 50px 0 300px 0;
    background: no-repeat url(../img/motivation-bg.png) bottom center;
    -webkit-background-size: 1920px auto;
    background-size: 1920px auto;
}

.motivation__title {
    margin-bottom: 30px;
}

.motivation__subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.motivation__content-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__range {
    -webkit-appearance: none;
    height: 2px;
    width: 260px;
    margin-top: 35px;
    outline: none;
}

.calculator__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: #b1041f;
    border-radius: 100px;
}

.calculator__range-by-hours-section {
    margin-bottom: 40px;
}

.calculator-result-wrapper p {
    text-align: center;
}

.calculator__result-value {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
}

.range-values-wrapper {
    margin-top: 15px;
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.range-values-wrapper__items {
    width: 271px;
    color: #3b3b40;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    letter-spacing: -0.06px;
}

.characteristics__list {
    width: 290px;
}

.characteristics-list__items {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.characteristics-list__items span {
    text-align: left;
}

.characteristics-list__title {
    margin-bottom: 40px;
}

/*ABOUT*/
.about {
    padding-top: 30px;
}

.about__paragraph {
    margin-bottom: 50px;
    text-align: center;
}

.about button {
    margin:0 auto 50px auto;
}

.about__sliders-wrapper {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-slider__title {
    margin-bottom: 50px;
}

.about-slider__title-mobile {
    display: none;
}

.tax-slider-wrapper, .car-slider-wrapper {
    width: 540px;
    position: relative;
}

.about-slider__next, .about-slider__prev {
    position: absolute;
    top: 0;
    transform: translateY(-80px) scale(1);
    width: 20px;
    height: 30px;
    background-size: 100% 100%;
    transition: .5s;
    cursor: pointer;
    z-index: 1;
}

.about-slider__next:hover, .about-slider__prev:hover {
    transform: translateY(-80px) scale(1.2);
}

.about-slider__prev {
    left: 65px;
    background-image: url(../img/icon-slider-arrow-prev.svg);
}

.about-slider__next {
    right: 65px;
    background-image: url(../img/icon-slider-arrow-next.svg);
}

.about__title {
    margin: 50px auto;
    line-height: 100%;
}

/*OFFER*/
.offer {
    padding: 50px 0 130px 0;
    background: no-repeat url(../img/offer-bg.png) bottom center;
    -moz-background-size: 1920px auto;
    background-size: 1920px auto;
}

.offer  h1, .offer  p,  .offer  div {
    color: #fff;
}

.offer__title {
    margin-bottom: 100px;
}

.offer__content-wrapper {
    display: flex;
    justify-content: space-around;
}

.offer__timer-wrapper p {
    text-align: center;
    line-height: 100%;
}

.timer__days {
    margin-top: 30px;
}

.timer {
    margin: 30px auto 0 auto;
    position: relative;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

.timer:before {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    content: ':';
}

.timer:after {
    position: absolute;
    top: 50%;
    right: 42px;
    transform: translateY(-50%);
    content: ':';
}

.timer > div {
    width: 34px;
}

.timer > div, .timer:before, .timer:after {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.offer__sale-wrapper p {
    text-align: center;
    margin-bottom: 50px;
}

.offer__sale-wrapper button {
    margin: 0 auto;
}

.offer__sale-wrapper button:hover {
    color: #fff;
}

.partners {
    padding-top: 95px;
}

.partners__title {
    margin-bottom: 100px;
}

.partners__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__wrapper img {
    width: 127px;
}

/*CONTACTS*/
.contacts {
    padding-top: 50px;
}

.contact__title {
    margin-bottom: 30px;
}

.contacts__content-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contact__card {
    position: relative;
    padding: 97px 28px;
}

.contact__card p {
    color: #fff;
}

.contact__card p:first-child {
    margin-bottom: 30px;
}

.contact__mobile-break {
    display: none;
}

.contact-card__bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 50px rgba(0,0,0,0.3));
    z-index: -1;
}

.contacts__video-wrapper p {
    line-height: 100%;
    margin-bottom: 30px;
}

.video {
    position: relative;
    cursor: pointer;
}

.video:hover .video__play {
    transform: translate(-50%, -50%) scale(1.1);
}

.video__preview {
    width: 485px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.video__play {
    width: 67px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
    transition: .3s;
}

.social {
    padding: 30px 0;
    display: flex;
    align-self: center;
}

.social__wrapper {
    margin-left: 45px;
    word-spacing: 30px;
}

.social__wrapper p {
    line-height: 100%;
}

.social__wrapper a, .social__wrapper img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer {
    padding: 50px 0;
    background-color: #3b3b40;
}

.footer p, footer a {
    color: #fff;
    font-size: 16px;
}

.footer-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
}

.footer-nav-list__items {
    margin-bottom: 20px;
}

.footer-nav-list__items a {
    text-decoration: underline;
    text-align: right;
}

.footer-nav-list__items:last-child {
    margin-bottom: 0;
}

.footer button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.footer button:hover {
    color: #fff;
}

/*MODAL WINDOWS*/
.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0,0,0, .3);
    transition: .2s;
    z-index: 3;
}

.modal .container {
    height: 100%;
    display: flex;
}
.modal__title {
    width: 100%;
    margin-bottom: 50px;
    color: #151515;
    text-align: center;
}

.modal form {
    position: relative;
    width: 100%;
    max-width: 750px;
    margin: auto;
    padding: 30px 100px 20px 100px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 020px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15)
}

.modal-inputs-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal input {
    display: block;
    width: 225px;
    margin-bottom: 50px;
    padding-left: 5px;
    color: #151515;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #a2021f;
}

.modal input:last-child{
    margin: 0 auto 50px auto;
}

.modal input[type="search"]::-webkit-input-placeholder,
.modal input[type="search"]:-ms-input-placeholder,
.modal input[type="search"]::-ms-input-placeholder,
.modal input[type="search"]::placeholder {
    color: rgba(222,222,222, 0.1);
    font-size: 14px;
}

.modal__button{
    display: block;
    margin: 0 auto 50px auto;
}

.modal-check-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-check-wrapper__paragraph {
    color: #151515;
}

.checkbox {
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: 1px solid #a2021f;
}

.checkbox:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:no-repeat url(../img/icon-checked.png) center center;
    content: '';
    opacity: 0;
    transition: .2s;
}

.modal-check-wrapper .active:after {
    opacity: 1;
}

.modal__close-button {
    position: absolute;
    height: 53px;
    width: 53px;
    top: 0;
    right: 0;
    background:no-repeat url(../img/icon-close.png) center center;
    cursor: pointer;
    z-index: 2;
}

.modal__error-window, .modal__success-window{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 100px 100px 100px 50px;
    left: -100%;
    top: 0;
    background-color: #fff;
    transition: .2s;
}

.modal__success-window {
    padding: 90px 100px 50px 100px;
}

.modal-error__title {
    margin-bottom: 50px;
    color: #a7001e;
    text-align: center;
}

.modal-error__paragraph, .modal-success__paragraph {
    margin-bottom: 50px;
    color: #151515;
    text-align: center;
}

.modal-error__back-button, .modal-success__button {
    display: block;
    margin: 0 auto;
}

.success-window__img {
    display: block;
    width: 70px;
    margin: 0 auto 50px auto;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1199.98px) {
    .main , .main__content-wrapper {
        min-height: 860px;
    }

    .main__content-wrapper:nth-child(1) {
        -webkit-background-size: 1450px auto;
        background-size: 1450px auto;
    }


    .main__content-wrapper:nth-child(2) {
        -webkit-background-size:  1450px auto;
        background-size: 1450px auto;
    }

    .info {
        padding: 50px 0;
    }

    .info:after {
        bottom: 320px;
        height: 670px;
        width: 1500px;
        background-position-x: -200px ;
    }

    .info__title > br {
        display: none;
    }

    .info__content-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info__subtitle, .info__paragraph {
        text-align: center;
    }

    .info__leasing-wrapper {
        order: 1;
        margin-bottom: 0;
    }

    .info-content-wrapper__item button{
        margin: 0 auto;
    }

    .info__leasing-wrapper .info__paragraph {
        margin-bottom: 60px;
    }

    .info__list-wrapper {
        margin-bottom: 600px;
    }

    .abilities__subtitle > br, .abilities__paragraph > br{
        display: none;
    }

    .requirements:after {
        width: 1200px;
        background-position-x: 100px;
    }
    
    .dress-mobile__list {
        margin-bottom: 60px;
    }
    
    .requirements__paragraphs p > br {
        display: none;
    }

    .bonuses {
        padding: 100px 0 140px 0;
    }

    .bonuses:after {
        width: 1500px;
    }

    .comments__slide {
        width: 860px;
    }

    .comments__avatar {
        width: 300px;
    }

    .motivation {
        -webkit-background-size: 1600px;
        background-size: 1600px;
    }

    .tax-slider-wrapper, .car-slider-wrapper {
        width: 440px;
    }

    .about-slider__prev {
        left: 35px;
    }

    .about-slider__next {
        right: 35px;
    }

    .contacts__video-wrapper p {
        line-height: 30px;
        text-align: center;
        width: 435px;
    }

    .video__preview {
        width: 435px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width: 991.98px) {
    .header .container {
        position: relative;
    }

    .header__burger {
        display: block;
    }

    .header__contacts {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav {
        position: absolute;
        display: block;
        left: -100%;
        top: 57px;
        transition: .2s;
    }

    .header.active .nav {
        left: 15px;
    }

    .nav-list {
        display: block;
        padding: 30px;
        background-color: #151515;
    }

    .nav-list__items {
        margin: 0 0 30px 0;
        color: #fff;
    }

    .nav-list__items:last-child {
        margin-bottom: 0;
    }

    .nav-list__items a {
        color: #fff;
    }

    .main__content-wrapper:nth-child(1) {
        -webkit-background-size: 1150px auto;
        background-size: 1150px auto;
    }


    .main__content-wrapper:nth-child(2) {
        -webkit-background-size:  1150px auto;
        background-size: 1150px auto;
    }

    .abilities__content-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px   ;
    }

    .opportunity {
        padding: 50px 0 165px 0;
        background: no-repeat url(../img/opportunity-bg.png) top center;
    }

    .opportunity__list {
        width: 750px;
        padding-right: 50px;
    }

    .opportunity-list__item {
        padding-left: 70px;
    }

    .opportunity-paragraphs__item > br {
        display: none;
    }

    .requirements:after {
        width: 1920px;
        height: 630px;
        background-position-x: -300px;
        bottom: auto;
        top: 800px;
    }

    .requirements__list {
        margin-bottom: 670px;
    }

    .dress {
        display: none;
    }

    .dress-mobile {
        display: flex;
        justify-content: center;
    }

    .dress-mobile__list li {
        margin-bottom: 50px;
        padding-left: 60px;
        position: relative;
    }

    .dress-mobile__list li:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 24px;
        content: '';
    }

    .dress-mobile__list li:last-child {
        margin-bottom: 0;
    }

    .dress-mobile__list li:nth-child(1):before {
        background: no-repeat url(../img/icon-dress-1.svg) left center;
        background-size: auto 100%;
    }


    .dress-mobile__list li:nth-child(2):before {
        background: no-repeat url(../img/icon-dress-2.svg) left center;
        background-size: 100% auto;
    }

    .dress-mobile__list li:nth-child(3):before {
        background: no-repeat url(../img/icon-dress-3.svg) left center;
        background-size: auto 100%;
    }

    .bonuses__content-wrapper {
        display: block;
    }

    .bonuses:after {
        background-position-x: 150px;
        width: 1300px;
        height: 568px;
        bottom: auto;
        top: 450px;
    }

    .bonuses__more-wrapper {
        margin-top: 658px;
    }

    .comments-slider__next, .comments-slider__prev {
        top: 125px;
        transform: none;
    }

    .comments-slider__next:hover, .comments-slider__prev:hover {
        transform: scale(1.2);
    }

    .comments-slider__prev {
        left: 10px;
    }

    .comments-slider__next {
        right: 10px;
    }

    .comments__slide {
        width: 100%;
        display: block;
    }

    .comments__avatar {
        margin: 0 auto 30px auto;
        width: 280px;
    }

    .comments__name {
        text-align: center;
    }

    .comments__experience {
        text-align: center;
        margin-bottom: 37px;
    }

    .motivation {
        padding: 50px 0 30px 0;
        background-position-y: 750px;
    }

    .motivation__content-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .calculator-result-wrapper {
        margin: auto auto 367px auto;
    }

    .characteristics {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .characteristics-list__title {
        text-align: left;
        width: 100%;
    }

    .about__sliders-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about-slider__title {
        display: none;
    }

    .about-slider__title-mobile {
        display: block;
    }

    .about-slider__title-mobile {
        margin-top: 30px;
    }

    .tax-slider-wrapper {
        margin-bottom: 50px;
    }

    .car-slider-wrapper {
        margin-bottom: 30px;
    }

    .tax-slider-wrapper, .car-slider-wrapper {
        width: 100%;
    }

    .about-slider__next, .about-slider__prev {
        top: auto;
        transform: none;
        bottom: -65px;
    }

    .about-slider__next:hover, .about-slider__prev:hover {
        transform: scale(1.2);
    }

    .about-slider__prev {
        left: 110px;
    }

    .about-slider__next {
        right: 110px;
    }

    .offer {
        padding: 50px 0 95px 0;
        background: no-repeat url(../img/offer-bg.png) top center;
    }

    .offer__title {
        margin-bottom: 50px;
    }

    .offer__timer-wrapper {
        margin-bottom: 30px;
    }

    .offer__content-wrapper {
        flex-direction: column;
    }

    .partners {
        padding-top: 50px;
    }

    .partners__title {
        margin-bottom: 30px;
    }

    .contacts__content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contact__card {
        margin-bottom: 50px;
    }

    .video__preview {
        width: 485px;
    }

    .footer__info {
        padding-bottom: 80px;
    }

    .footer button {
        top: auto;
        left: 0;
        bottom: 0;
        transform: none;
    }

    .footer__nav {
        margin: auto 0 auto auto;
    }
}

@media screen and (max-width: 767.98px) {

    a, p, li, button {
        font-size: 12px;
    }

    p {
        line-height: 18px;
    }

    h1,h2 {
        line-height: 24px;
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }

    button  {
        border: 1px solid #a7001e;
    }

    .comments-slider__next, .comments-slider__prev, .about-slider__next, .about-slider__prev {
        width: 10px;
        height: 15px;
    }

    .header__logo {
        width: 75px;
    }

    .nav {
        top: 40px;
    }

    .main__content-wrapper {
        padding-top: 155px;
    }

    .main , .main__content-wrapper {
        min-height: auto;
        height: 700px;
    }

    .main__content-wrapper:nth-child(1) {
         background: no-repeat url(../img/main-background-1.png) bottom center;
        -webkit-background-size: 1720px auto;
        background-size: 1220px auto;
        background-position-x: -90px ;
    }

    .main__content-wrapper:nth-child(2) {
        background: no-repeat url(../img/main-background-2.png) bottom center;
        -webkit-background-size: 1720px auto;
        background-size: 1220px auto;
        background-position-x: -90px ;
    }

    .main__title {
        margin-bottom: 30px;
    }

    .info {
        padding-top: 30px;
    }

    .info:after {
        bottom: 230px;
        height: 670px;
        width: 1500px;
        background-position-x: -200px ;
    }

    .info__title {
        margin-bottom: 30px;
    }

    .info-content-wrapper__item:first-child {
        margin-bottom: 35px;
    }

    .info__subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .info__paragraph:last-child {
        margin-top: 30px;
    }

    .info__list {
        margin-bottom: 50px;
    }

    .info .call-form {
        margin-top: 0;
    }

    .info-list__item {
        padding-left: 36px;
    }

    .info-list__item:before {
        width: 25px;
        height: 25px;
        margin-bottom: 50px;
    }

    .info__leasing-wrapper .info__paragraph {
        margin-bottom: 40px;
    }

    .abilities__title {
        margin-bottom: 50px;
    }

    .abilities {
        padding-bottom: 50px;
    }

    .abilities-content-wrapper__item {
        padding-left: 0px;
    }
    .abilities-content-wrapper__item:before {
        width: 25px;
        height: 25px;
    }

    .abilities__subtitle {
        padding-left: 55px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .opportunity {
        padding: 50px 0;
        background: no-repeat url(../img/opportunity-bg.png) bottom center;
    }

    .opportunity__title {
        margin-bottom: 50px;
    }

    .opportunity__content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .opportunity__list {
        width: auto;
        margin-bottom: 50px;
    }

    .opportunity-list__item {
        line-height: 18px;
        padding-left: 53px;
    }

    .opportunity-list__item:before {
        font-size: 30px;
    }

    .opportunity-paragraphs__item {
        margin-bottom: 25px;
    }
    
    .opportunity-paragraphs__item > br {
        display: block;
    }

    .opportunity__button {
        margin: 50px auto 0 auto;
    }

    .requirements {
        padding-bottom: 0px;
    }

    .requirements__title {
        margin-bottom: 50px;
    }

    .requirements-list__item {
        margin-bottom: 30px;
        line-height: 18px;
    }

    .requirements:after {
        width: 1520px;
        height: 500px;
        background-position-x: -240px;
        bottom: auto;
        top: 500px;
    }

    .requirements__list {
        margin-bottom: 550px;
    }

    .bonuses {
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .bonuses:after {
        background-position-x: 50px;
        width: 1000px;
        height: 440px;
        bottom: auto;
        top: 280px;
    }

    .bonuses__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bonuses__more-wrapper {
        margin-top: 427px;
    }

    .bonuses__more-wrapper h2, .bonuses__more-wrapper p {
        text-align: center;
    }

    .comments__title {
        margin-bottom: 50px;
    }

    .motivation {
        background-position-y: 700px;
        -webkit-background-size: 1300px auto;
        background-size: 1300px auto;
    }

    .calculator {
        flex-direction: column;
        align-items: center;
    }

    .characteristics-list__items {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .offer {
        padding: 50px 0 90px 0;
        background: no-repeat url(../img/offer-bg.png) bottom center;
        -moz-background-size: 1920px auto;
        background-size: 1920px auto;
    }

    .partners__wrapper {
        flex-wrap: wrap;
    }

    .partners__title {
        margin-bottom: 80px;

    }

    .partners__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        row-gap: 75px;
    }

    .partners-wrapper__item {
        width: 50%;
        text-align: center;
    }

    .partners__wrapper img {
        width: 64px;
    }

    .contact__card {
        position: relative;
        padding: 60px 28px;
    }

    .contact__card p {
        line-height: 24px;
    }

    .social__wrapper a, .social__wrapper img {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .footer p {
        font-size: 10px;
    }
    .footer a {
        font-size: 12px;
    }

}

@media screen and (max-width: 575.98px) {
    .header-contacts__tel {
        font-size: 10px;
        transform: translateX(20px);
    }

    .main__absolute-container {
        right: 15px;
    }

    .main, .main__content-wrapper {
        min-height: auto;
        height: 700px;
    }

    .main__content-wrapper:nth-child(1) {
        -webkit-background-size: 800px auto;
        background-size: 800px auto;
        background-position-x: -70px;
    }

    .main__content-wrapper:nth-child(2) {
        -webkit-background-size: 800px auto;
        background-size: 800px auto;
        background-position-x: -70px;
    }

    .info:after {
        bottom: 270px;
        height: 370px;
        width: 800px;
        background-position-x: -100px;
    }

    .info__list-wrapper {
        margin-bottom: 350px;
    }

    .abilities__content-wrapper {
        grid-template-columns: 1fr;
    }

    .requirements:after {
        width: 1000px;
        height: 360px;
        background-position-x: -150px;
        bottom: auto;
        top: 560px;
    }

    .requirements__list {
        margin-bottom: 450px;
    }

    .bonuses:after {
        background-position-x: 150px;
    }

    .comments__avatar {
        width: 180px;
    }

    .comments-slider__next, .comments-slider__prev {
        top: 84px;
    }

    .motivation {
        padding: 50px 0 30px 0;
        background-position-y: 720px;
        -webkit-background-size: 800px auto;
        background-size: 800px auto;
    }

    .calculator-result-wrapper {
        margin-bottom: 200px;
    }

    .characteristics-list__title {
        margin-bottom: 25px;
    }

    .about__paragraph > br {
        display: none;
    }

    .about-slider__prev {
        bottom: -51px;
        left: 0;
    }

    .about-slider__next {
        bottom: -51px;
        right: 0;
    }

    .about-slider__next {
        right: 0;
    }

    .contact__mobile-break {
        display: block;
    }

    .contacts__video-wrapper p{
        width: 100%;
    }

    .video__preview {
        display: block;
        margin: 0 auto;
        width: 320px;
    }

    .map {
        height: 165px;
    }

    .social {
        padding: 20px 15px;
        justify-content: space-between;
    }

    .footer button {
        left: 15px;
    }
}



















