/*GLOBAL*/
/*dark blue: #212b58 */
/*light blue: #2abafe */
@import url(Global_css/reset.css);
@import url(Global_css/container.css);
p,a,span,ul{
	font-family: 'Futura';
	line-height: 125%;
	color: #015673;
}	
p{font-size: 20px;}
h1{
	font-family: 'Garamond';
	line-height: 125%;	
}
body{
	padding-top: 70px;
	position: relative;
	background-image: url(../images/personal_account/bg_main.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
button{
	position: relative;
	cursor: pointer;
	font-family: 'Futura';
	color: #fff;
	margin: 0px;
	border: 0px;
	padding: 10px;
	background-color: #015673;
	border-radius: 5px;
}
img{display: block;}
/*HEADER*/
header{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #fff;
}
nav{
	display: flex;
	justify-content: space-between;
}
nav a{
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
}
nav a:before{
	background-color: #015673;
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 0px;
	height: 1px;
	transition: 0.3s;
}
.area{
	border-radius: 5px;
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.36);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.36);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.36);
}
nav a:hover:before{width: 100%;}
/*GLOBAL_WALLET*/
.global_wallet .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.global_wallet p{margin-bottom: 20px}
.global_wallet span{color: #000}
/*SALE*/
.balance_wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-bottom: 20px;
}
.balance_wrap p{
  	font-size: 30px;
}
.balance_label{
	margin-right: 20px;
}
.history{
	overflow-y: scroll;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}
.history_header, .history_rows{
	display: flex;
	min-width: 888px;
	border-bottom:1px solid #e0e0e0;
}
.history_header p, .history_rows p{
	padding: 10px;
	width: 100%;
	text-align: center;
	border-right: 1px solid #e0e0e0;
}
.history_rows p{
	color: #c3c3c3;
}
.history_center_item p{
	width: 320px;
}
