/*GLOBAL*/
/*dark blue: #212b58 */
/*light blue: #2abafe */
@import url(Global_css/reset.css);
@import url(Global_css/container.css);
p,a,span,ul{
	font-family: 'Futura';
	line-height: 125%;
	color: #015673;
}	
p{font-size: 20px;}
h1{
	font-family: 'Garamond';
	line-height: 125%;	
}
body{
	padding-top: 70px;
	position: relative;
	background-image: url(../images/personal_account/bg_main.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
button{
	position: relative;
	cursor: pointer;
	font-family: 'Futura';
	color: #fff;
	margin: 0px;
	border: 0px;
	padding: 10px;
	background-color: #015673;
	border-radius: 5px;
}
img{display: block;}
/*HEADER*/
header{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #fff;
}
nav{
	display: flex;
	justify-content: space-between;
}
nav a{
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
}
nav a:before{
	background-color: #015673;
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 0px;
	height: 1px;
	transition: 0.3s;
}
.area{
	border-radius: 5px;
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.36);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.36);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.36);
}
nav a:hover:before{width: 100%;}
.tab_wrap button{
	padding:20px 30px;
	margin-right: 10px;
	min-width: 100px;
	font-size: 25px;
	border-radius: 5px 5px 0px 0px;
	transition: 0.3s;
}
.tab_wrap button[name="active"]{
	background-color: #fff;
	color: #015673;
	-webkit-box-shadow: 0px -3px 15px 0px rgba(50, 50, 50, 0.36);
	-moz-box-shadow:    0px -3px 15px 0px rgba(50, 50, 50, 0.36);
	box-shadow:         0px -3px 15px 0px rgba(50, 50, 50, 0.36);
}
.tab_wrap button[name="active"]:before{
	position: absolute;
	width: 100%;
	height: 6px;
	background-color: #fff;
	content: '';
	left: 0;
	bottom: -4px;
}
/*GLOBAL_WALLET*/
.global_wallet .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.global_wallet p{margin-bottom: 20px}
.global_wallet span{color: #000}
/*KYC*/
.kyc_area{
	margin-bottom: 20px;
	border-radius: 0px 0px 5px 5px;
}
.kys_sections{display: none;}
.kys_sections[name="active"]{display: block;}
.kyc_alert{
	margin-bottom: 20px;
	text-align: center;
}
.personal_inf_wrap{
	display: flex;
}
.input_items{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.input_center_item{
	margin: 0px 20px;
}
.input_items p{
	margin: 10px 0px;
}
.input_items input{
	color: #fff;
	padding: 0px 10px;
	width: 100%;
	border-radius: 5px;
	height: 40px;
	border: 0;
	background-color: #dddddd;
}
.input_items input::-webkit-input-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.input_items input::-moz-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.input_items input:-moz-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.input_items input:-ms-input-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.files_wrap{
	justify-content: space-between;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	align-items: center;
	border: 1px solid #e0e0e0;
	display: flex;
}
.files_wrap_items{
	width: 100%;
}
.files_wrap_items button{
	width: 100%;
	font-size: 20px;	
}
.files_center_item{
	margin: 0px 20px;
}
.files_wrap_items label{
	font-size: 20px;
	font-family: 'Futura';
	color: #015673;
}
.check_wrap{
	display: flex;
	align-items: center;
}
.check{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #ddd;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	margin-right: 10px;
}
.check > div{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: #015673;
	opacity: 0;
}
.check[name="check"] > div{
	opacity: 1;
	transition: 0.3s;
}
.bottom_wrap{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.bottom_wrap button{
	font-size: 20px;
	width: 180px;
}
.index_wrap{
	display: flex;
	align-items: center;
}
.index_wrap input{
	margin-left: 10px;
}
.index_wrap input::-webkit-input-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.index_wrap input::-moz-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.index_wrap input:-moz-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.index_wrap input:-ms-input-placeholder{color:#fff!important;font-family: 'Futura';font-size: 20px;}
.index_wrap input{
	color: #fff;
	width: 180px;
	padding: 0px 10px;
	border-radius: 5px;
	height: 40px;
	border: 0;
	background-color: #dddddd;
}
@media screen and (max-width: 991px) {
	.tab_wrap button{
		padding:10px;
		font-size: 15px;
		margin-right: 5px;
	}
	.files_wrap{
		flex-direction: column;
	}
	.files_wrap button{
		width: 200px;
		margin: 10px 0px;
	}
}
@media screen and (max-width: 575px) {
	.personal_inf_wrap{
		flex-direction: column;
	}
	.input_center_item{
		margin: 0px;
	}
	.tab_wrap{
		background-color: #fff;
	}
	.tab_wrap button{
		border-radius: 0;
		color: #015673;
		background-color: #fff;
		text-align: left;
		width: 100%;
	}
	.tab_wrap button[name="active"]{
		border-left: 4px solid #015673;
		background-color: #fff;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
	}
}